.project-card-body{
    background-color: #02de56;
    position: absolute;
    height: 350px;
    width: 100%;
    top: 0;
    right: -100%;
    transition: .5s;
    text-align: justify;
}
.project-card:hover .project-card-body{
   right: 0;
}